html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#main {
    position: relative;
    width: 100%;
    height: 6661px;
    min-width: 1680px;
    overflow-y: visible;
}

/*  Section1 */
#main #section1 {
    background-image: url("mainImg/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 260vh;
    position: relative;
    top: 0;
    min-width: 1680px;
}

#main #section1 .backBg {
    background-image: url("mainImg/backgUp.png");
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}

#main #section1 .backBg .sun {
    background-image: url("mainImg/sun.png");
    width: 1400px;
    height: 770px;

}

/* Section1 Header */
#main #section1 #header {
    position: relative;
    background-color: rgba(57, 175, 57, 0.9);
    width: 64%;
    min-width: 1196px;
    height: 65px;
    margin: 0 auto;
    border: 2px solid #000;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: none;
    z-index: 10;
}

#main #section1 #header .headerGnb {
    width: 98%;
    min-width: 1173px;
    height: 82%;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    gap: 18%;
}

#main #section1 #header .headerGnb li {
    margin-top: 25px;
    font-weight: bold;
}

#main #section1 #header .headerGnb li:nth-child(1) {
    margin-left: 20px;
}

#main #section1 #header .headerGnb li:nth-child(5) {
    margin-right: 20px;
}

#main #section1 #header .headerGnb li a {
    color: #fff;
    cursor: pointer;
}

/* section1 lamp */
#main #section1 .lamp {
    width: 80.2%;
    min-width: 1328px;
    height: 240px;
    margin: -90px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#main #section1 .lamp li {
    width: 260px;
    height: 100%;
}

#main #section1 .lamp li img {
    width: 100%;
    height: 100%;
}

/* section1 logoGnb */
#main #section1 .logoGnb {
    position: relative;
    width: 24%;
    min-width: 400px;
    height: 22%;
    margin: 0 auto;
}

#main #section1 .logoGnb li {
    margin: 0 auto;
}

#main #section1 .logoGnb li img {
    width: 100%;
    height: 100%;
}

#main #section1 .logoGnb li:nth-child(2) {
    width: 45%;
}

/* section1 S1Wrapper */
#main #section1 .S1Wrapper {
    position: relative;
    bottom: 30px;
    width: 100vw;
    min-width: 1920px;
    height: 921px;
}

#main #section1 .S1Wrapper .S1WrapperUp {
    display: flex;
    width: 100vw;
    height: 760px;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 1680px;
}

#main #section1 .S1Wrapper .S1WrapperUp li {
    text-align: center;
}

#main #section1 .S1Wrapper .S1WrapperUp li img {
    width: 100%;
    height: 100%;
}

#main #section1 .S1Wrapper .S1WrapperUp .catsTower {
    width: 543px;
    height: 620px;
    position: absolute;
    top: -45px;
    right: 58%;
    z-index: 9;
    cursor: pointer;
}

#main #section1 .S1Wrapper .S1WrapperUp .girl {
    width: 438px;
    height: 620px;
    margin: 0 auto;
    padding-left: 20px;
}

#main #section1 .S1Wrapper .S1WrapperUp .tolk {
    width: 345px;
    height: 155px;
    position: absolute;
    top: 50px;
    left: 55%;
    text-align: left;
}

#main #section1 .S1Wrapper .S1WrapperUp .tolk p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.3;
    margin: 35px 75px;
    width: 240px;
    font-weight: bold;
    color: green;
}

#main #section1 .S1Wrapper .S1WrapperUp .dogFruit {
    width: 400px;
    height: 202px;
    position: absolute;
    top: 279px;
    right: 0;
    margin-right: 19%;
    display: flex;

}

#main #section1 .S1Wrapper .S1WrapperUp .dogFruit :nth-child(1) {
    width: 280px;
    height: 202px;
    cursor: pointer;
    z-index: 11;
}

#main #section1 .S1Wrapper .S1WrapperUp .dogFruit :nth-child(2) {
    width: 141px;
    height: 98px;
    position: relative;
    top: 86px;
    right: 80px;
    z-index: 12;
}

#main #section1 .S1Wrapper .S1WrapperUp .tableSub {
    background-image: url("mainImg/table2.png");
    background-repeat: no-repeat;
    width: 457px;
    height: 340px;
    position: absolute;
    top: 170px;
    right: 0;
}

#main #section1 .S1Wrapper .S1WrapperUp .rightSetting {
    width: 362px;
    height: 135px;
    position: absolute;
    top: 95px;
    right: 0;
    margin-right: 20px;
    z-index: 8;
}

#main #section1 .S1Wrapper .S1WrapperUp .mainTable {
    background-image: url("mainImg/tableMain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 304px;
    position: absolute;
    bottom: 18px;
    left: 0;
    z-index: 22;
    margin: 0;
}

/* section1 middle */
#main #section1 .S1Wrapper .S1WrapperMiddle {
    position: absolute;
    top: 130px;
    left: -35px;
    display: flex;
    width: 2065px;
    height: 50%;
    justify-content: space-between;
}

#main #section1 .S1Wrapper .S1WrapperMiddle .plantLeft1 {
    width: 375px;
    height: 400px;
    z-index: 8;
}

#main #section1 .S1Wrapper .S1WrapperMiddle .plantRight1 {
    width: 425px;
    height: 350px;
    margin-top: 110px;
}

#main #section1 .S1Wrapper .S1WrapperMiddle img {
    width: 100%;
    height: 100%;
}

/* section1 Down */
#main #section1 .S1Wrapper .S1WrapperDown {
    display: flex;
    position: absolute;
    left: -70px;
    bottom: 0;
    width: 108.2vw;
    min-width: 1680px;
    justify-content: space-between;
}

#main #section1 .S1Wrapper .S1WrapperDown li img {
    width: 100%;
}

#main #section1 .S1Wrapper .S1WrapperDown .plantLeft2 {
    width: 220px;
    height: 570px;
    z-index: 23;
}

#main #section1 .S1Wrapper .S1WrapperDown .plantRight2 {
    width: 285px;
    height: 455px;
    margin-top: 35px;
    z-index: 23;
}

/* section1 Profile */
/* dog ---------------------------------*/
#main #section1 #dogProfile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* 왼쪽에서 이동해오는 느낌 */
}

#main #section1 #dogProfile ul {
    width: 1000px;
    height: 670px;
    display: flex;
    position: absolute;
    top: 65%;
    left: 65%;
    transition: opacity 0.5s ease, transform 0.8s ease;
}

#main #section1 #dogProfile ul .IdCard {
    width: 786px;
    height: 435px;
    margin: 0px auto;
}

#main #section1 #dogProfile ul .dogIdCard {
    position: absolute;
    top: 60px;
    left: 169px;
    width: 225px;
    height: 224px;
    overflow: hidden;
    border-radius: 35px;

}

#main #section1 #dogProfile ul .dogIdCard img {
    width: 260px;
    height: 260px;
    margin: 5px -23px;
}

#main #section1 #dogProfile ul .Profile {
    position: absolute;
    top: 45px;
    left: 430px;
    width: 150px;
    height: 250px;
}

#main #section1 #dogProfile ul .Profile p {
    margin-top: 30px;
    line-height: 1.3;
    font-weight: bold;
    color: green;
    font-size: 14px;
}

#main #section1 #dogProfile ul h3 {
    position: absolute;
    bottom: 280px;
    left: 200px;
    font-size: 2em;
    font-weight: bold;
    color: green;
    letter-spacing: 1.5px;
}

#main #section1 #dogProfile ul .dog {
    position: absolute;
    bottom: 0;
    left: -35px;
    width: 400px;
    height: 300px;
    cursor: pointer;
}

#main #section1 #dogProfile ul .dog img {
    width: 100%;
    height: 100%;
}

/* cat---------------------------------- */
#main #section1 #catProfile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* 왼쪽에서 이동해오는 느낌 */
}

#main #section1 #catProfile ul {
    width: 1000px;
    height: 670px;
    display: flex;
    position: absolute;
    top: 65%;
    left: 65%;
    transition: opacity 0.5s ease, transform 0.8s ease;

}

#main #section1 #catProfile ul .IdCard {
    width: 786px;
    height: 435px;
    margin: 0px auto;
}

#main #section1 #catProfile ul .catIdCard {
    position: absolute;
    top: 60px;
    left: 169px;
    width: 225px;
    height: 224px;
    overflow: hidden;
    border-radius: 35px;

}

#main #section1 #catProfile ul .catIdCard img {
    width: 300px;
    height: 340px;
    margin: 0px 20px;
}

#main #section1 #catProfile ul .Profile {
    position: absolute;
    top: 45px;
    left: 430px;
    width: 150px;
    height: 250px;
}

#main #section1 #catProfile ul .Profile p {
    margin-top: 35px;
    line-height: 1.3;
    font-weight: bold;
    color: green;
    font-size: 14px;
}

#main #section1 #catProfile ul h3 {
    position: absolute;
    bottom: 280px;
    left: 200px;
    font-size: 2em;
    font-weight: bold;
    color: green;
    letter-spacing: 1.5px;
}

#main #section1 #catProfile ul .cat {
    position: absolute;
    bottom: -700px;
    left: -340px;
    width: 800px;
    height: 1100px;
    cursor: pointer;
}

#main #section1 #catProfile ul .cat img {
    width: 100%;
    height: 100%;
}

#dogThumbnail,
#catThumbnail {
    cursor: pointer;
    pointer-events: auto;
    z-index: 2;
    position: relative;
    transition: opacity 0.4s ease;
}

.profile-active .dog-area,
.profile-active .cat-area {
    opacity: 0;
    pointer-events: none;
}

body.profile-active .dog-area,
body.profile-active .cat-area,
body.profile-active .fruit-area {
    opacity: 0.1;
    pointer-events: none;
}

body.profile-active .plantLeft1,
body.profile-active .plantLeft1 img,
body.profile-active .plantRight1,
body.profile-active .plantRight1 img {
    opacity: 1 !important;
    pointer-events: auto !important;
    z-index: 21 !important;
}

body.profile-active .plantLeft2,
body.profile-active .plantLeft2 img,
body.profile-active .plantRight2,
body.profile-active .plantRight2 img,
body.profile-active .mainTable {
    opacity: 1 !important;
    pointer-events: auto !important;
    z-index: 22 !important;
}


/*강아지먹이 section2------------------------- */
#main #section2 {
    background-color: rgba(212, 235, 179, 1);
    height: 100vh;
    min-height: 953px;
    width: 100%;
    position: relative;
}

#main #section2 #patEatMenu {
    width: 100%;
    height: 100%;
}

#main #section2 #patEatMenu #dogEatMenu {
    background-image: url(section1Img/eatTable.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 2175px;
    position: absolute;
    bottom: 55px;
    left: 0;
    z-index: 10;
    height: 686px;
    width: 1920px;
}

#main #section2 #patEatMenu #dogEatMenu .slider-wrapper {
    width: 100%;
    height: 705px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    cursor: grab;
    will-change: scroll-position;
}


#main #section2 #patEatMenu #dogEatMenu h2 {
    margin-left: 365px;
    font-size: 42px;
    font-weight: bold;
    width: 400px;
    height: 58px;
    position: relative;

}

#main #section2 #patEatMenu #dogEatMenu h2 span {
    position: absolute;
    bottom: -2px;
    right: 40px;
}

#main #section2 #patEatMenu h2 svg {
    stroke: #000;
    stroke-width: 1px;

}

#main #section2 #patEatMenu .eatMenu {
    display: flex;
    width: max-content;
    position: relative;
    left: 340px;
    top: 25px;
    gap: 20px;
    z-index: 11;
    transition: transform 0.3s ease;
}

#main #section2 #patEatMenu ul .menuList1 {
    width: 300px;
    min-width: 300px;
    height: 550px;
    margin-top: 105px;
    margin-right: 10px;
}

#main #section2 #patEatMenu ul li img {
    width: 290px;
}

#main #section2 #patEatMenu ul li:nth-child(1) img {
    width: 274px;
}

#main #section2 #patEatMenu ul li:nth-child(1) {
    margin-top: 34px;
}

#main #section2 #patEatMenu ul li:nth-child(2) {
    margin-top: 115px;
}

#main #section2 #patEatMenu ul li:nth-child(3) {
    margin-top: 101px;
}

#main #section2 #patEatMenu ul li:nth-child(4) {
    margin-top: 100px;
}

#main #section2 #patEatMenu ul li:nth-child(5) {
    margin-top: 100px;
}

#main #section2 #patEatMenu ul li:nth-child(6) {
    margin-top: 30px;
}

#main #section2 #patEatMenu ul li:nth-child(6) img {
    width: 250px;
    height: 436px;
}

#main #section2 #patEatMenu ul li div {
    margin-top: 86px;
    margin-left: 15px;
}

#main #section2 #patEatMenu ul li .eatList1 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 35px;
    height: 18px;
    line-height: 18px;
    background-color: green;
    text-align: center;
}

#main #section2 #patEatMenu ul li .eatList2 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 35px;
    height: 18px;
    line-height: 18px;
    background-color: orange;
    text-align: center;
}

#main #section2 #patEatMenu ul li .eatGnb {
    margin-top: 7px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;

}

#main #section2 #patEatMenu ul li .eatFooter {
    font-weight: bold;
    color: green;
}

#main #section2 #patEatMenu .eatMenuList {
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(section1Img/eatTableBg.png);
    background-repeat: no-repeat;
    background-position: top;
}

/* 고양이먹이  section3-----------------------*/
#main #section3 {
    background-color: rgba(212, 235, 179, 1);
    height: 100vh;
    min-height: 953px;
    width: 100%;
    position: relative;
}

#main #section3 #patEatMenu1 {
    width: 100%;
    height: 100%;
}

#main #section3 #patEatMenu1 #catEatMenu {
    background-image: url(section1Img/eatTable.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 2175px;
    position: absolute;
    top: 130px;
    left: 0;
    z-index: 10;
    height: 686px;
    width: 1920px;
}

#main #section3 #patEatMenu1 #catEatMenu h2 {
    margin-left: 365px;
    font-size: 42px;
    font-weight: bold;
    width: 400px;
    height: 58px;
    position: relative;

}

#main #section3 #patEatMenu1 #catEatMenu h2 span {
    position: absolute;
    bottom: -2px;
    right: 40px;
}

#main #section3 #patEatMenu1 h2 svg {
    stroke: #000;
    stroke-width: 1px;

}


#main #section3 #patEatMenu1 #catEatMenu .slider-wrapper1 {
    width: 100%;
    height: 705px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    cursor: grab;
    will-change: scroll-position;
}

#main #section3 #patEatMenu1 .eatMenu1 {

    display: flex;
    position: relative;
    left: 340px;
    top: 25px;
    gap: 35px;
    z-index: 11;
    transition: transform 0.3s ease;
}


#main #section2 #patEatMenu ul .menuList2 {
    width: 300px;
    min-width: 300px;
    height: 550px;
    margin-top: 105px;
    margin-right: 10px;
}

#main #section3 #patEatMenu1 ul li img {
    width: 290px;
}

#main #section3 #patEatMenu1 ul li:nth-child(1) {
    margin-top: 105px;
    margin-left: 0;
}

#main #section3 #patEatMenu1 ul li:nth-child(2) {
    margin-top: 105px;
}

#main #section3 #patEatMenu1 ul li:nth-child(3) img {
    width: 274px;
}

#main #section3 #patEatMenu1 ul li:nth-child(3) {
    margin-top: 45px;
}

#main #section3 #patEatMenu1 ul li:nth-child(4) {
    margin-top: 102px;
}

#main #section3 #patEatMenu1 ul li:nth-child(5) img {
    width: 274px;
}

#main #section3 #patEatMenu1 ul li:nth-child(5) {
    margin-top: 45px;
}

#main #section3 #patEatMenu1 ul li:nth-child(6) {
    margin-top: 82px;
}

#main #section3 #patEatMenu1 ul li div {
    margin-top: 85px;
    margin-left: 15px;
}

#main #section3 #patEatMenu1 ul li .eatList1 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 35px;
    height: 18px;
    line-height: 18px;
    background-color: green;
    text-align: center;
}

#main #section3 #patEatMenu1 ul li .eatList2 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 35px;
    height: 18px;
    line-height: 18px;
    background-color: orange;
    text-align: center;
}

#main #section3 #patEatMenu1 ul li .eatGnb {
    margin-top: 7px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;

}

.custom-slider {
    -webkit-appearance: none;
    width: 1600px;
    height: 16px;
    /* 나무판 높이 */
    background: linear-gradient(#5a3b1d 0%,
            /* 나무색 */
            #5a3b1d 70%,
            #3e2b1a 70%,
            /* 어두운 얇은 줄 */
            #3e2b1a 75%,
            #5a3b1d 75%,
            #5a3b1d 100%);
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 100px;
    left: 350px;
    outline: none;
    cursor: pointer;
    z-index: 200;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 600px;
    /* 길게 */
    height: 10px;
    /* 살짝 얇게 */
    background: #cccccc;
    border: 1px solid #999999;
    border-radius: 6px;
    margin-top: 2px;
    cursor: pointer;
}

#main #section3 #patEatMenu1 ul li .eatFooter {
    font-weight: bold;
    color: green;
}

#main #section3 #patEatMenu1 .eatMenuList {
    width: 100%;
    height: 155px;
    position: absolute;
    bottom: 90px;
    left: 0;
    background-image: url(section1Img/eatTableBg.png);
    background-repeat: no-repeat;
    background-position: top;
}

#main #section3 #patEatMenu1 .section3Footer {
    width: 2208px;
    height: 310px;
    position: absolute;
    bottom: 0px;
    left: -130px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

/* section4 -------------------------------*/
#main #section4 {
    background-color: rgba(212, 235, 179, 1);
    height: 135vh;
    min-height: 1286px;
    width: 100%;
    position: relative;
}

#main #section4 #section4Wrapper {
    width: 100%;
    height: 100%;
}

/*  section4 직원 및 가판대 이미지 */
#main #section4 #section4Wrapper .section4Gnb {
    width: 1590px;
    height: 100%;
    position: relative;
    right: 40px;
    z-index: 10;
}

#main #section4 #section4Wrapper .section4Gnb .employee {
    width: 100%;
    height: 791px;
    object-fit: contain;
    position: absolute;
    top: 100px;
}

#main #section4 #section4Wrapper .section4Gnb .employee #employeeImage {
    width: 1556px;
    height: 791px;
    margin-top: 0;
}

#main #section4 #section4Wrapper .section4Gnb .s2Gril1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 215px;
    left: 1055px;
}


/* 포스,연기 */
#main #section4 #section4Wrapper .section4Gnb .posSetting {
    width: 325px;
    height: 135px;
    position: absolute;
    top: 433px;
    right: 330px;
}

#main #section4 #section4Wrapper .section4Gnb .posSetting .pos {
    width: 232px;
    height: 148px;
}

#main #section4 #section4Wrapper .section4Gnb .posSetting .somke {
    width: 30px;
    height: 40px;
    margin-left: 50px;
    margin-top: 60px;
}

#main #section4 #section4Wrapper .section4Gnb .foodList {
    width: 235px;
    height: 130px;
    position: absolute;
    top: 410px;
    right: 65px;
    display: block;
    pointer-events: none;
    z-index: 10;
}

#main #section4 #section4Wrapper .section4Gnb .foodList li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main #section4 #section4Wrapper .section4Gnb .foodList li img {
    width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

main #section4 #section4Wrapper .section4Gnb .foodList li .chiken {
    margin-top: 47px;
}

main #section4 #section4Wrapper .section4Gnb .foodList li .salmon {
    margin-top: 14px;
}

main #section4 #section4Wrapper .section4Gnb .foodList li .sort {
    margin-top: 3px;
}

main #section4 #section4Wrapper .section4Gnb .foodList li .egg {
    margin-top: 25px;
}

main #section4 #section4Wrapper .section4Gnb .foodList li .frult {
    margin-top: 30px;
}

main #section4 #section4Wrapper .section4Gnb .foodList li img.active {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}

/* 쇼케이스 선택사항 */
#main #section4 #section4Wrapper .section4Gnb .choices {
    width: 360px;
    height: 86px;
    position: absolute;
    top: 400px;
    left: 500px;
    display: flex;
    flex-wrap: wrap;
}

#main #section4 #section4Wrapper .section4Gnb .choices li {
    width: 125px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

#main #section4 #section4Wrapper .section4Gnb .choices .choice1 {
    margin-right: 95px;
}

#main #section4 #section4Wrapper .section4Gnb .choices .choice3 {
    margin-left: 55px;
    margin-top: 62px;
    width: 240px;
}

#main #section4 #section4Wrapper .section4Gnb .choices svg {
    stroke: rgba(100, 100, 100, 0.7);
    fill: #fff;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 100%;
    cursor: pointer;
}

/* 글박스 */
#main #section4 #section4Wrapper .section4Gnb .section4Tolk {
    width: 320px;
    height: 155px;
    position: absolute;
    top: 155px;
    right: 30px;
}

#main #section4 #section4Wrapper .section4Gnb .section4Tolk img {
    width: 100%;
    height: 100%;
}

#main #section4 #section4Wrapper .section4Gnb .section4Tolk p {
    position: absolute;
    top: 45px;
    left: 60px;
    width: 240px;
    height: 65px;
    line-height: 1.3;
    color: green;
    font-weight: bold;
}

/* 의자 */
#main #section4 #section4Wrapper .section4Chairs {
    display: flex;
    width: 830px;
    height: 300px;
    position: absolute;
    bottom: 355px;
    right: 130px;
}

#main #section4 #section4Wrapper .section4Chairs li {
    width: 155px;
    height: 335px;
    margin-right: 30px;
}

#main #section4 #section4Wrapper .section4Chairs li img {
    width: 100%;
    height: 100%;
}

/* section4Footer (고양이) */
#main #section4 #section4Wrapper .section4Footer {
    width: 1920px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

#main #section4 #section4Wrapper .section4Footer .backBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}

#main #section4 #section4Wrapper .section4Footer .s4FooterLeft {
    width: 335px;
    height: 240px;
    background-image: url(section2Img/tabelLeft.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 20px;
    left: -50px;
    z-index: 11;

}

#main #section4 #section4Wrapper .section4Footer .s4FooterLeft img {
    margin-left: 60px;
}

#main #section4 #section4Wrapper .section4Footer .s4FooterRight {
    width: 390px;
    height: 305px;
    position: absolute;
    bottom: 150px;
    right: -15px;
    background-image: url(section2Img/tabelRight.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

#main #section4 #section4Wrapper .section4Footer .s4FooterRight img {
    margin-left: 50px;
}

/* Section5 --------------------------- */
#main #section5 {
    width: 100%;
    height: 104vh;
    min-height: 991px;
    background-image: url(section3Img/s3Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 135px;
}

#main #section5 .s5Wrapper {
    display: flex;
    width: 1000px;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*  왼쪽 소개글 */
#main #section5 .s5Wrapper .s5WrapperLeft {
    width: 40%;
    height: 100%;
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGnb h1 {
    font-size: 43px;
    font-weight: bold;
    color: green;
    line-height: 52px;
    margin-bottom: 50px;
    letter-spacing: -6px;
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGnb p {
    color: rgb(66, 131, 66);
    font-weight: bold;
    line-height: 25px;
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGoing {
    display: flex;
    position: relative;
    margin-top: 30px;
    width: 405px;
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGoing p {
    background-color: #fff;
    color: green;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -3px;
    width: 290px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 40px;
    text-align: center;
    line-height: 60px;


}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGoing p:hover {
    background-color: rgba(200, 200, 200, 1);
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGoing p span {
    margin-left: 10px;
}

#main #section5 .s5Wrapper .s5WrapperLeft .clubGoing img {
    position: absolute;
    right: 45px;
    bottom: 7px;
    z-index: -1;
    animation: catTail-ani 3s infinite;
    transform-origin: left;
}

#main #section5 .s5Wrapper .s5WrapperRight {
    width: 60%;
    height: 88%;
    display: flex;
    flex-wrap: wrap;
}

#main #section5 .s5Wrapper .s5WrapperRight li {
    width: 240px;
    height: 160px;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    text-align: center;
    border: 2px solid #000;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb1 {
    background-color: rgb(59, 151, 204);
    margin: 0 175px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb2 {
    background-color: rgb(206, 178, 53);
    margin-right: 80px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb3 {
    background-color: rgb(204, 77, 77);
}

#main #section5 .s5Wrapper .s5WrapperRight li svg {
    width: 80px;
    height: 50px;
    position: absolute;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb1 svg {
    transform: rotate(50deg);
    right: -75px;
    bottom: -25px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb2 svg {
    transform: rotate(-50deg);
    right: 50px;
    top: -85px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb3 svg {
    left: -90px;
    top: 55px;
}

#main #section5 .s5Wrapper .s5WrapperRight li img {
    position: relative;
    bottom: 90px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb1 img {
    width: 280px;
    height: 170px;
    left: 10px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb2 img {
    bottom: 80px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb3 img {
    bottom: 100px;
}


/* 호버 시 확대 */

#main #section5 .s5Wrapper .s5WrapperRight li p {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    left: 50px;
    letter-spacing: -1px;
    transition: transform 0.3s ease;
    transform-origin: center center;
    cursor: pointer;
}

.s5WrapperRight li p:hover {
    transform: translateY(-13px) scale(1.5);
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb1 p {
    bottom: 35px;
}

#main #section5 .s5Wrapper .s5WrapperRight .s5Gnb3 p {
    left: 65px;
}

#main #section5 .s5Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(129, 163, 81);
    overflow: hidden;
}

#main #section5 .s5Footer .s5FooterBg {
    width: 100%;
    height: 120px;
    border-radius: 45%;
    background-color: rgb(243, 253, 229, 1);
    position: absolute;
    top: -60px;
    left: 0;
    border-bottom: 2px solid gray;
}

/* section6------------------------ */
#main #section6 {
    width: 100%;
    height: 100vh;
    min-height: 953px;
    background-color: rgb(129, 163, 81);
    position: relative;
    bottom: 135px;
}

#main #section6 .S6Wrapper {
    width: 100%;
    min-width: 1920px;
    height: 100%;
    position: relative;
}


#main #section6 .S6Wrapper .S6WrapperUp {
    display: flex;
    width: 100vw;
    min-width: 1900px;
    height: 810px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#main #section6 .S6WrapperUp li {
    text-align: center;
}

#main #section6 .S6Wrapper .S6WrapperUp li img {
    width: 100%;
}

#main #section6 .S6Wrapper .S6WrapperUp .girl {
    width: 445px;
    height: 650px;
    margin: 0 auto;
    padding-left: 20px;
}

#main #section6 .S6Wrapper .S6WrapperUp .tolk {
    width: 360px;
    height: 160px;
    position: absolute;
    top: 0px;
    left: 54%;
    text-align: left;
}

#main #section6 .S6Wrapper .S6WrapperUp .tolk p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    margin: 45px 75px;
    width: 280px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);

}

#main #section6 .S6Wrapper .S6WrapperUp .tableSub {
    background-image: url("mainImg/table2.png");
    background-repeat: no-repeat;
    width: 457px;
    height: 340px;
    position: absolute;
    top: 260px;
    right: 0;
}

#main #section6 .S6Wrapper .S6WrapperUp .rightSetting {
    width: 362px;
    height: 135px;
    position: absolute;
    top: 185px;
    right: 0;
    margin-right: 20px;
    z-index: 8;
}

#main #section6 .S6Wrapper .S6WrapperUp .mainTable {
    background-image: url("mainImg/tableMain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1900px;
    height: 340px;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 12;
    margin: 0;
}

/* 리뷰 카드 */
#main #section6 .S6Wrapper .slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 43%;
    left: 6%;
}

#main #section6 .S6Wrapper #slider {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    cursor: grab;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 66vh;
    position: relative;
    z-index: 30;
}


#main #section6 .S6Wrapper .review li {
    width: 330px;
    height: 390px;
    position: relative;
    transition:  opacity 0.3 ease;
    transform-origin: center center;
    flex: 0 0 auto;
    margin-right: 16px;
}

#main #section6 .S6Wrapper .review .animalReview1 {
    transform: rotate(-25deg);
    margin-top: 185px;
    margin-left: 40px;
}

#main #section6 .S6Wrapper .review .animalReview2 {
    transform: rotate(-13deg);
    margin-left: -40px;
    margin-top: 55px;

}

#main #section6 .S6Wrapper .review .animalReview3 {
    margin-left: -25px;
    z-index: 10;
}

#main #section6 .S6Wrapper .review .animalReview4 {
    transform: rotate(13deg);
    margin-left: -20px;
    margin-top: 60px;
    z-index: 8;
}

#main #section6 .S6Wrapper .review .animalReview5 {
    transform: rotate(25deg);
    margin-left: -50px;
    margin-top: 180px;
    z-index: 6;
}

#main #section6 .S6Wrapper .review .animalReview6 {
    margin-left: -80px;
    margin-top: 360px;
    z-index: 5;
    display: none;
}

#main #section6 .S6Wrapper .review .animalReview7 {
    margin-left: -110px;
    margin-top: 570px;
    z-index: 4;
    display: none;
}

#main #section6 .S6Wrapper .review .animalReview8 {
    margin-left: -150px;
    margin-top: 815px;
    display: none;
}



#main #section6 .S6Wrapper .review li h6 {
    position: absolute;
    top: 17px;
    left: 40px;
    font-size: 25px;
}

#main #section6 .S6Wrapper .review li p {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 40px;
    line-height: 1.5;
}

/* section6 middle */
#main #section6 .S6Wrapper .S6WrapperMiddle {
    position: absolute;
    top: 315px;
    left: -45px;
    display: flex;
    width: 2080px;
    min-width: 2000px;
    height: 50%;
    justify-content: space-between;
}

#main #section6 .S6Wrapper .S6WrapperMiddle .plantLeft1 {
    width: 375px;
    height: 400px;
    z-index: 10;
}

#main #section6 .S6Wrapper .S6WrapperMiddle .plantRight1 {
    width: 425px;
    height: 350px;
    margin-top: 130px;
}

#main #section .S6Wrapper .S6WrapperMiddle img {
    width: 100%;
    height: 100%;
}

/* section6 Down */
#main #section6 .S6Wrapper .S6WrapperDown {
    display: flex;
    position: absolute;
    left: -70px;
    bottom: -200px;
    width: 107.5vw;
    min-width: 2000px;
    justify-content: space-between;
    z-index: 23;
}

#main #section6 .S6Wrapper .S6WrapperDown li img {
    width: 100%;
    height: 100%;
}

#main #section6 .S6Wrapper .S6WrapperDown .plantLeft2 {
    width: 220px;
    height: 570px;
}

#main #section6 .S6Wrapper .S6WrapperDown .plantRight2 {
    width: 315px;
    height: 455px;
    margin-top: 45px;
}

/* footer */
#footer {
    width: 100vw;
    min-width: 1790px;
    height: 100vh;
    min-height: 953px;
    position: relative;
    bottom: 420px;
    z-index: 20;
}

#footer #footerWrapper {
    width: 100%;
    height: 100%;
    background-image: url('footerImg/footerBg.png');
    background-position: top center;
    background-repeat: no-repeat;
}

#footer #footerWrapper .footerUp {
    position: absolute;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer #footerWrapper .footerMiddle {
    width: 57%;
    height: 75px;
    position: absolute;
    bottom: 37%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    color: #fff;
}

#footer #footerWrapper .footerMiddle li {
    margin-top: 30px;
    margin-left: 55px;
    cursor: pointer;
    height: 20px;
}

#footer #footerWrapper .footerMiddle li:nth-child(1) {
    margin-left: 100px;
}

#footer #footerWrapper .footerIcon {
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 4%;
    margin: 0 auto;
    display: flex;
}

#footer #footerWrapper .footerIcon li {
    cursor: pointer;
    margin-left: 30px;
    height: 30px;
}

#footer #footerWrapper .footerIcon li svg {
    width: 30px;
    height: 30px;
}

#footer #footerWrapper .footerDown {
    width: 455px;
    height: 100px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 1%;
    margin: 0 auto;
    text-align: center;
}

#footer #footerWrapper .footerDown p {
    color: #fff;
    margin-top: 15px;
}